:root {
    --page-bg: white;
    --main-bg: #F7F9Fc;
    --text-primary: #2E2E48;
    --text-secondary: #79819A;
    --card: white;
    --line: #E2E6EE;
    --point: #5531A7;
    --link-bg: #E1E7Fe;
    --link: #516CF7;
    --input-bg: white;
    --input-color: black;
    --input-border: #E2E6EE
}

body[data-theme="dark"] {
    --page-bg: #232339;
    --main-bg: #232339;
    --text-primary: #E2E6EE;
    --text-secondary: #ACB1C3;
    --card: #2E2E48;
    --line: #2E2E48;
    --point: #C696FC;
    --link-bg: #2A337E;
    --link: #95AAFB;
    --input-bg: #2E2E48;
    --input-color: white;
    --input-border: #2E2E48
}

/*
Шрифты
*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*
Сброс стандартных стилей браузера
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

img,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select {
    font: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/*
Основная верстка страницы
*/

.hidden {
    display: none !important;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 10px;
    right: 10px;

    width: 42px;
    height: 42px;

    background-color: #A478E8;
    border-radius: 50%;
    border: none;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 6px 24px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(0, 0, 0, 0.04);

    cursor: pointer;
}

.theme svg {
    color: white;
}

.page {
    display: flex;
    background-color: var(--page-bg);
}

.header {
    width: 340px;
    height: 100vh;
}

.main {
    flex: 1;
    padding: 32px 24px 32px 16px;
    background-color: var(--main-bg);
}

.banner-photo {
    padding-bottom: 16px;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 24px;
}

.divider {
    background-color: var(--line);
    height: 1px;
    border: 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 24px;
}

.header-title h1 {
    font-weight: 700;
    font-size: inherit;
    color: var(--text-primary);
}

.header-title p {
    font-size: 0.8em;
    font-weight: 700;
    color: #A478E8;
}

.blockquote {
    position: relative;
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
}

.blockquote::before {
    content: '❝';
    position: absolute;
    top: 0;
    left: 0;
    color: #79819A;
    font-size: 20px;
}

.blockquote::after {
    content: '❞';
    position: absolute;
    right: 0;
    bottom: 0;
    color: #79819A;
    font-size: 20px;
}

.blockquote p {
    color: var(--text-primary);
    font-weight: 700;
}

.blockquote cite {
    display: block;
    margin-top: 8px;

    font-size: 0.9em;
    font-weight: 500;
    font-style: normal;

    color: var(--text-secondary);
}

.contacts,
.languages {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-item {
    display: flex;
    gap: 8px;
}

.contact-icon {
    background-color: var(--line);
    border-radius: 50%;
    border: 1px solid var(--line);
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon svg {
    color: var(--text-secondary);
    width: 18px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contact-label {
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 14px;
}

.contact-value {
    color: var(--text-primary);
    font-weight: 700;
}

.section {
    display: flex;
    gap: 16px;
}

.section-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 32px;
    height: 32px;

    background-color: var(--card);
    border-radius: 50%;

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05), 0px 6px 24px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.point {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--point);
}

.line {
    flex: 1;
    width: 1px;
    background-color: var(--line);
}

.section-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--text-primary);
}

.about {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about p {
    color: var(--text-primary);
    line-height: 1.6;
}

.filters {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}

.input-field {
    padding: 5px 15px;
    border-radius: 8px;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--input-color);
    width: 100%;
}

label {
    color: var(--text-primary)
}

input::placeholder {
    color: var(--text-primary)
}

.card-list-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
}

.skills-empty {
    width: 100%;
    text-align: center;
    color: var(--text-primary);
}

.card-skill {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    padding: 16px;
    background-color: var(--card);
    border-radius: 8px;
}

.card-skill img {
    width: 52px;
    height: 52px;
    object-fit: contain;
    border-radius: 8px;
}

.card-skill p {
    margin: 0;

    min-height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 19px;
    font-weight: 700;
    color: var(--text-primary);
    text-align: center;
}

.card-education {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: var(--card);
}

.title-education {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-education {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e2e6ee;
}

.logo-education img {
    width: 64px;
    height: 64px;
    max-width: none;
    object-fit: contain;
}

.title-education p {
    color: var(--text-primary);
    font-weight: 700;
}

.content-education {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.education-name {
    color: var(--text-primary);
    font-weight: 700;
    font-size: 14px;
}

.education-date {
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 12px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
}

.card-project {
    background-color: var(--card);
    border-radius: 8px;
}

.banner-project {
    height: 140px;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-title {
    font-weight: 700;
    color: var(--text-primary);
}

.card-description {
    font-size: 14px;
    color: var(--text-secondary);
}

.card-footer {
    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 0;
}

.card-footer a {
    flex: 1;
    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    background-color: var(--link-bg);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.link-icon svg {
    color: var(--link);
    width: 15px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--link);
}

@media (max-width: 1336px) {
    .header-title {
        font-size: 20px;
    }

    .blockquote {
        font-size: 12px;
    }

    .header {
        width: 300px;
    }

}

@media (max-width: 920px) {
    .card-skill p {
        line-height: 16px;
        font-size: 14px;
    }

    .card-list-skills {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }

    .header {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .page {
        display: block;
        background-color: var(--main-bg);
    }

    .header {
        width: 100%;
        height: auto;
    }

    .banner-photo {
        display: flex;
        justify-content: center;
    }

    .banner-photo img {
        max-height: 300px;
    }

    .header-title {
        text-align: center;
        font-size: 24px;
    }

    .blockquote {
        font-size: 14px;
    }
}

@media (max-width: 610px) {
    .card-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 16px;
    }

    .card-body {
        padding: 12px;
    }
}

@media (max-width: 468px) {
    .circle {
        width: 24px;
        height: 24px;
    }

    .point {
        width: 6px;
        height: 6px;
    }

    .filters {
        flex-direction: column;
        gap: 16px;
    }

    .card-education {
        padding: 12px;
    }

    .logo-education img {
        width: 50px;
        height: 50px;
    }

    .title-education p {
        font-size: 12px;
    }

    .education-name {
        font-size: 12px;
    }

    .education-date {
        font-size: 10px;
    }

    .card-skill {
        padding: 10px;
    }

    .card-skill img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 375px) {
    html {
        font-size: 14px;
    }

    .title-education p,
    .education-name {
        font-size: 10px;
    }

    .card-description {
        font-size: 12px;
    }
}